body{
	background-color: aqua;
	animation-duration: 5s;
	animation-name: x;
	animation-iteration-count:infinite;
}

@keyframes x{
	0%{background-color: aqua;}
	10%{background-color: greenyellow;}
	20%{background-color: brown;}
	30%{background-color: saddlebrown;}
	40%{background-color: darkblue;}
	50%{background-color: cyan;}
	60%{background-color: darkgreen;}
	70%{background-color: red;}
	80%{background-color: orange;}
	90%{background-color:aquamarine;}
	100%{background-color: black;}
}

.press {
	 margin: auto;


  width: 60%;


  border: 5px solid #FFFF00;


  padding: 10px;

	background-color: yellowgreen;
	border: 10px solid green ;
	border-radius: 100px;
	box-shadow:
		  0 3px 3.2px rgba(0, 0, 0, 0.034),
		  0 6.7px .3px rgba(0, 0, 0, 0.048),
		  0 12.5px 10px rgba(0, 0, 0, 0.06),
		  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		  0 100px 80px rgba(0, 0, 0, 0.12)
		;

	animation-duration: 10s;
	animation-name: y;
	animation-iteration-count:infinite;
}

	@keyframes y {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:green;}
  100% {background-color:red;}
}

h1{
	text-align: center;
	font-size: 200;
}

a{
	background-color: aqua;
	color: yellow;
	text-decoration: none;
	box-shadow:
		  0 3px 3.2px rgba(0, 0, 0, 0.034),
		  0 6.7px .3px rgba(0, 0, 0, 0.048),
		  0 12.5px 10px rgba(0, 0, 0, 0.06),
		  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
		  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
		  0 100px 80px rgba(0, 0, 0, 0.12)
		;

}