.conatirer{
	padding-top: 100px;
	padding-bottom: 0px;
	padding-left:  200px;
	padding-right: 200px;
	height: 700px;
}
.up{
	background-color: "";
	height: 200px;
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img{
	border-radius: 50%;
	border: 20px solid blue ;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}
h2{
	color:bisque;
	text-align: center;
	font-weight:100;
	font-size: 290%;
}

.btns{
	content: "";
  	clear: both;
  	display: table;
	margin-top:300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	
}

.divs{
	display: inline;
	background-color: antiquewhite;
	height: 100px;
	width: 100px;
}
button{
	margin-left: -5px;
	cursor: pointer;
	border: 2px solid green;
}

button:hover{
		background-color: lawngreen;
		animation-name: ll;
		animation-duration: 0.4s;
}

@keyframes ll{
	from{background-color: antiquewhite;}
	to{background-color: lawngreen;}
}

#btn1, #btn2, #btn3{

	display: inline;
}